body {
	/* Blanco puro */
	color: #ffffff;

	color: #fafaff;
	color: #f6f7f8;
	color: #ebe4ff;
	color: #d5dfff;

	color: #dadce0;
	color: #c3c2ca;
	color: #727586;

	color: #673de6;
	color: #6747c7;
	color: #5025d1;
	color: #2f1c6a;
	color: #36344d;

	color: #1d1e20;
	color: #000;

	color: #00b090;

	color: #fc5185;
	color: #ffe8ef;
}
